    /*#F5E7DE#F2BFA4
    Kaffestuggu*/
    .main{
        padding:0.5px;
        height:100%;
        width:100%;
        overflow:hidden;
        
    }
    .title{
        margin:auto;
        font-size:2em;
        text-align:center;
        color:#676666;
    }
    
    .progress-side{
        display:block;
        height:80%;
        box-sizing:border-box;
        background-color:hsl(0, 0%, 8%);
        padding:2em;
        box-sizing:border-box;
        width:100%;
        height:100%;

      
    
    }
    @media screen and (min-width:1200px){
        .progress-side{
            width:20%;
            vertical-align:top;
            border-right:none;
            display:inline-block;
            box-sizing:border-box;
            box-shadow:4px 0px 8px black;
            z-index:1;
        }
    }
    .documentDisplayContainer{
        padding:2em;
        display:inline-block;
        box-sizing:border-box;
        width:80%;
        height:100%;
        background-color:hsl(0, 0%, 10%);
        overflow:auto;
        
    }
    .documentNameDisplay{
        display: flex;
        column-gap:20%;
        flex-wrap:wrap;
        justify-content:flex-start;
        padding:3em;
        box-sizing:border-box;
    }


    #btnDiv{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
    }
    .btn{
        font-size: 1.3em;
        color:#473e56;
        font-weight:bold;
        background-color: #b763f2;
        width:7em;
        height: 2em;
        border-radius: 0.5em;
    }