/*#F5E7DE#F2BFA4
Kaffestuggu*/
.documentChannel {
    background-color: #b596fb;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 2em;
    overflow: hidden;
    border-radius: 0.5em;
}
.documentChannel div{
    display: block;
}
.documentChannel div img{
    min-width:1.5em;
    height: 2em;
    margin: 0em 0.5em;
}
.documentChannel h1, .documentChannel h3{
    color:#1D004F;
    display: inline-block;
    margin: 0em 0.5em;
}
.documentChannel p{
    color:#1D004F;
}