.errorText{
    color:red;
    margin:auto;
    margin-top:0.5em;
}
#test{
    width:50em;
    height:50em;
    background-color:white;
}
#uploadDiv{
    width:60%;
    height:50%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.dropContainer{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    background-color:none;
    padding:2em;
    width:100%;
    height:100%;
    border:2px dotted hsl(240, 100%, 80%);
    
}
.dropContainer:hover{
    border:2px dotted hsl(240, 100%, 70%);

}
.dropContainer svg:hover{
    fill: hsl(240, 100%, 70%);
}
#documentUploadTitle{
    font-size:1em;
    color:#0066CC;
}
#documentUploadInput{
    visibility:hidden;
}


